@font-face {
    font-family: "juliette";
    src: url(./fonts/juliette.otf);
}

@font-face {
    font-family: "gabriele";
    src: url(./fonts/gabriele-bad.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: hsl(40, 10%, 85%);
    font-family: Raleway, sans-serif;
    color: hsl(40, 20%, 15%);
    margin: 0;
}

#main {
    margin: 0;
}

#header {
    display: flex;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: hsla(40, 20%, 87%, 0.9);
    z-index: 2;
    box-shadow: 0 18px 25px -5px hsla(40, 10%, 15%, 0.8);
    backdrop-filter: blur(5px);
    position: sticky;
    margin: calc(50vh - 40px) 0 0 0;
}

#title {
    display: flex;
    align-items: center;
}

h1 {
    font-family: juliette;
    line-height: 0px;
    font-size: 62px;
    max-height: 90%;
    position: relative;
    top: 4px;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.7);
}

#nav-bar {
    display: inline-flex;
    align-items: center;
    width: 35%;
    min-width: 400px;
    position: relative;
    top: 4px;
}

#nav-bar ul {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    list-style-type: none;
    padding-inline-start: 0;
}

#nav-bar li {
    text-align: center;
}

#nav-bar a {
    text-decoration: none;
    color: hsl(40, 20%, 15%);
    box-sizing: border-box;
    border-top: solid 7px hsl(40, 20%, 15%);
    transition: all 0.5s;
    letter-spacing: 2px;
    font-family: gabriele;
    text-align: center;
}

#nav-bar a:hover {
    color: hsl(40, 20%, 95%);
    background-color: hsl(40, 20%, 15%);
}

section {
    min-height: (100vh - 80px);
    display: flex;
    flex-direction: column;
    margin: 0;
    transition: all 1.5s;
    padding: 120px 0;
}

h2 {
    /*border-top: solid 3px hsl(40, 20%, 55%);*/
    z-index: 1;
    transition: all 0.5s;
    margin-bottom: 8vh;
    letter-spacing: 15px;
    text-align: center;
    width: 20vw;
    min-width: 300px;
    align-self: center;
    color: hsl(40, 20%, 15%);
    padding-top: 20px;
    background-color: hsl(40, 4%, 9%);
    padding: 0;
    font-family: 'gabriele';
    transform: rotate(
1deg
);
    text-shadow: 1px 1px 1px hsl(40deg 15% 60%);
    box-shadow: 1px 0px 1px 0px hsl(40deg 15% 60%);
}

section:hover h2 {
    color: hsl(40, 20%, 65%);
    box-shadow: 1px 0px 10px 0px hsl(40deg 15% 60%);
    text-shadow: none;
    transform: scale(1.2);
}

#welcome {
    height: 100vh;
    background-color: hsl(40, 10%, 5%);
    margin-bottom: 120px;
    margin-top: calc(-1 * (80px + (50vh - 40px)));
    padding: 0;
    overflow: hidden;
}

#welcome img {
    transform: translate3d(0, 0, 0);
    object-fit: cover;
    position: relative;
    will-change: transform;
    transition: transform 8.5s ease-in-out 1.5s;
}

#work {
    box-sizing: border-box;
    /*height: calc(100vh + 80px);*/
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#carousel {
    margin: 0;
    height: 70vh;
    width: 100%;
    background-color: hsl(40, 4%, 10%);
    /*padding: 20px 0;*/
}

.carousel-item {
    height: 70vh;
    width: fit-content;
    display: flex;
    margin: 0 5px;
}

.carousel-item img {
    height: 70vh;
    object-fit: contain;
    justify-self: center;
    transition: all 0.5s;
    /*border: solid 2px hsl(40, 20%, 75%);*/
    box-sizing: border-box;
    box-shadow: 0 0 80px 60px hsl(40deg 20% 5%);
}

#slideshow {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
}

.glider-prev, .glider-next {
    position: relative !important;
    left: 0 !important;
    padding: 30vh 15vw !important;
    box-sizing: border-box !important;
}

.glider-prev {
    padding-left: 5vw !important;
    padding-right: 35vw !important;
}

.glider-next {
    padding-left: 35vw !important;
    padding-right: 5vw !important;
}

#process {
    /*background-color: hsl(40, 20%, 75%);*/
    margin: 0;
    padding: 120px 0;
}

.textbox-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    line-height: 25px;
    font-size: 0.9rem;
    hyphens: auto;
    align-items: center;
    background-color: hsl(40, 4%, 10%);
    overflow: hidden;
}

.textbox {
    height: 70vh;
    width: 55vh;
    min-width: 450px;
    box-sizing: border-box;
    margin: 0 40px;
    padding: 20px 40px;
    background-color: hsl(40, 20%, 85%);
    transition: all 0.5s;
    box-shadow: /*0 0 60px 40px hsl(40deg 20% 5%),*/
                0 0 40px -12px hsl(40deg 20% 5%) inset;
    /*font-family: gabriele;*/
}

.textbox ul {
    padding-inline-start: 1em;
}


.textbox:hover {
    transform: scale(1.03);

}


@media (max-width: 1200px) {
    #process-text {
        flex-direction: column;
        align-items: center;
    }

    #process-text div {
        width: 100%;
        margin: 4vh 0;
    }
}

@media (max-width: 600px) {
    #process-text {
        margin: 0;
    }
}

#person-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#portrait {
    background: url("https://instagram.ftxl2-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p750x750/42849475_312743419507632_3286723953101526760_n.jpg?_nc_ht=instagram.ftxl2-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=u42QBvbM_70AX8Fs_UH&tp=1&oh=d35f69dec124fb9e2ce7e7966a62397c&oe=603CA700");
    background-size: cover;
    object-fit: cover;
    padding: 0;
}

#form {
    display:flex;
    align-items: center;
}

#form fieldset {
    display: flex;
    flex-direction: column;
    border: solid 3px hsl(40, 20%, 75%);
}

.form-unit {
    display: flex;
    flex-direction: column;
    margin: 3vh;
}

textarea {
    height: 8em;
}

textarea,
input {
    font-family: Raleway, sans-serif;
    border: solid 1px hsl(40, 20%, 45%);
    resize: none;
    outline: none;
    background-color: hsl(40, 20%, 95%);;
}